
<div class="wrapper">
  <div class="content">
    <div class="searchData">
      <div class="address">
        <div class="introText" [style.display]="click == 13 ? 'none' : 'block'">Waves address</div>
        <input type="text" #addressInput="" id="searchDataInp" placeholder="Waves адрес" value="3PAYW61WKGU1PJcn8m9EdDEEgbabsi5DGgw"/>
      </div>
      <div class="txsAmount">
        <div class="txsAmount__main">
          <div class="amountTxsText">Last</div>
          <input type="number" #amountTxs="" id="searchDataInp" value="100" max="100000"/>
          <div class="amountTxsText">txs</div>
        </div>
        <div class="amountTxsText maxValueText">(by default 100 000)</div>
      </div>
      <button class="blick_btn search_button" type="button" #checkBtn="" (click)="getDataByAddress(addressInput, amountTxs)">Стартуем!</button>
    </div>
    <div id="goal" *ngFor="let tx of allTxsTest">
      <div class="main" [hidden]="current != tx['id']">
        {{ tx['mister'] }}
        {{ tx['id'] }}
      </div>
    </div>
    <div id="goal" [innerHtml]="htmlToAdd"></div>
  </div>
  <div class="filter" #filter="">
    <div id="search">
      <div class="searchData">
        <div class="cross">
          <svg width="12" height="12">
            <path d="M0 0 L 12 12 M12 0 L 0 12" stroke="black" stroke-width="2"></path>
          </svg>
        </div>
        <input class="inspectInput" type="text" id="searchDataInp" placeholder="Данные для поиска"/>
        <button class="blick_btn inspectBtn" type="button">Искать</button>
        <button class="blick_btn" type="button" id="additionalMenu">
          <div class="burg"></div>
          <div class="burg"></div>
          <div class="burg"></div>
        </button>
      </div>
    </div>
    <div class="buttons-form">
      <div id="buttons">
        <ng-container *ngIf="allTxs">
          <button class="button" type="button" id="balance" #balance="" (click)="test(balance)"><span class="bal-btn">Account balance</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="allTxs">
          <button class="button clickMe" type="button" id="all" #all="" (click)="test(all)"><span class="all-btn">All ( {{ countAllTxs }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="typeDeposit">
          <button class="button clickMe" type="button" id="deposit" #deposit="" (click)="test(deposit)"><span class="dep-btn">Deposit ( {{ countTypeDeposit }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="typeSend">
          <button class="button clickMe" type="button" id="send" #send="" (click)="test(send)"><span class="send-btn">Withdraw ( {{ countTypeSend }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="type7">
          <button class="button clickMe" type="button" id="7" #id7="" (click)="test(id7)"><span class="exch-btn">Trading ( {{ countType7 }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="type8">
          <button class="button clickMe" type="button" id="8" #id8="" (click)="test(id8)"><span class="leasing-btn">Leasing ( {{ countType8 }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="type9">
          <button class="button clickMe" type="button" id="9" #id9="" (click)="test(id9)"><span class="cancLeas-btn">Canceled leasing ( {{ countType9 }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="typeMassSend">
          <button class="button clickMe" type="button" id="massSend" #massSend="" (click)="test(massSend)"><span class="massSend-btn">Mass withdrawing ( {{ countTypeMassSend }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="typeMassReceive">
          <button class="button clickMe" type="button" id="massReceiv" #balance="" (click)="test(balance)"><span class="massReceive-btn">Mass depositing ( {{ countTypeMassReceive }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="type3">
          <button class="button clickMe" type="button" id="3" #id3="" (click)="test(id3)"><span class="assetCreation-btn">Asset creation ( {{ countType3 }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="type5">
          <button class="button clickMe" type="button" id="5" #id5="" (click)="test(id5)"><span class="assetReissue-btn">Asset reissuing ( {{ countType5 }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="type6">
          <button class="button clickMe" type="button" id="6" #id6="" (click)="test(id6)"><span class="burn-btn">Asset burning ( {{ countType6 }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="type10">
          <button class="button clickMe" type="button" id="10" #id10="" (click)="test(id10)"><span class="alias-btn">Alias cretion  ( {{ countType10 }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="type12">
          <button class="button clickMe" type="button" id="12" #id12="" (click)="test(id12)"><span class="data-btn">Data transaction ( {{ countType12 }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="type13">
          <button class="button clickMe" type="button" id="13" #id13="" (click)="test(id13)"><span class="script-btn">Script transaction ( {{ countType13 }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="type15">
          <button class="button clickMe" type="button" id="15" #id15="" (click)="test(id15)"><span class="assetScript-btn">Asset script ( {{ countType15 }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="type14">
          <button class="button clickMe" type="button" id="14" #id14="" (click)="test(id14)"><span class="sponsor-btn">Sponsorship ( {{ countType14 }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="type16">
          <button class="button clickMe" type="button" id="16" #id16="" (click)="test(id16)"><span class="scriptCall-btn">Invoke script ( {{ countType16 }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="type1">
          <button class="button clickMe" type="button" id="1" #id1="" (click)="test(id1)"><span class="wavesIss-btn">Waves issuing ( {{ countType1 }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
        <ng-container *ngIf="typeElse">
          <button class="button clickMe" type="button" id="else" #idElse="" (click)="test(idElse)"><span class="else-btn">Else ( {{ countTypeElse }} )</span>
            <svg class="svg_button">
              <rect class="rect_button"></rect>
            </svg>
          </button>
        </ng-container>
      </div>
      <div class="extract">
        <button class="extractMe blick_btn" type="button" id="csvAll" #balance="" (click)="test(balance)">Экспорт всех транзакци</button>
        <button class="extractMe blick_btn" type="button" id="csvDeposit" #balance="" (click)="test(balance)">Экспорт вводо</button>
        <button class="extractMe blick_btn" type="button" id="csvWithdrawal" #balance="" (click)="test(balance)">Экспорт выводо</button>
        <button class="extractMe blick_btn" type="button" id="csvEx" #balance="" (click)="test(balance)">Экспорт обмено</button>
      </div>
    </div>
  </div>
</div>
<script src="index.js"></script>
<script>
  $('.content').scroll(function() {
      if ($('.content').scrollTop() > 100) {
          if ($('#upbutton').is(':hidden')) {
              $('#upbutton').css({opacity : 0.8}).fadeIn('slow');
          }
      } else { $('#upbutton').stop(true, false).fadeOut('fast'); }
  });
  $('#upbutton').click(function() {
      $('.content').stop().animate({scrollTop : 0}, 500);
  });
</script>